body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: o;
    margin: 0;
    background-color: rgb(169, 169, 169);
}


/*header styles*/
.jumbotron {
    background-color: #35424a;
    color: #ffffff;
    margin-bottom: 0;
    border-bottom: #e8491d 3px solid;
    overflow: hidden;

}
.jumbotron #companyName{
    float: left;
}
.jumbotron nav{
    float: right;
    margin-top: 10px;
}
.jumbotron li{
    float:left;
    display: inline;
    padding: 0 20px 0 20px;
   
}
.jumbotron a{
    color: #ffffff;
    text-decoration: none; /*take the default under line out*/
    text-transform: uppercase;
    font-size: 16px;

}
.jumbotron #companyName{
    float: left;
}
.jumbotron .highlight, .jumbotron .current a {
    color: #e8491d;
    font-weight: bold;
}
.jumbotron a:hover{
    color: crimson;
    font-weight: bold;
}

/*mainContent styling*/

.mainContent-wrapper{
   background: url("../img/bk.jpg");
}

#mainRight-side{
    padding-left: 30px;
}

form{
    padding-right: 15px;
    width: 80%;
}

.formHeader{
    padding-left: 10px;
}


#mainRight-side, .formHeader{
   color: #ffffff;
    margin-top: 2px;
  margin-left: 0;
}

/*form styling*/
input{
    height: 40px;
    box-sizing: border-box;
    margin-top: 2%;
    padding-block-start: 20px;
    width: 100%;
    padding: 5px;
    display: block;
    font:  15px arial, sans-serif;
}
button{
    box-sizing: border-box;
    padding-block-start: 20px;
    width: 100%;
    height: 50px;
    padding: 5px;
    font: bold 40px arial, sans-serif;
    background: #0066A2;
    border-radius: 20px; /* Rounds the corner of your submit buttons.*/
}

/*section for cars*/
.section3Wrapper{
    border: 1px black;
}

.section3Header{
    text-align: center;
    background-color: orange;
 
}
.pictureWrapper{
    padding: 20px;
    background-color: orange;
}

.carDescription-wrapper h3{
    color: coral;

}
.carDescription-wrapper button{
    box-sizing: border-box;
    padding-block-start: 20px;
    width: 70%;
    height: 50px;
    padding: 5px;
    font: bold 30px arial, sans-serif;
    background: #0066A2;
    border-radius: 20px;
}

.carDescription-wrapper p{
    color: pink;
}




.carPicture{
    
    background-color: black;
    border: 1px black;
   
    height: 400px;
    padding-left: 10px;
    
}

/*locations section*/
.locationHeader{
    text-align: center;
    background-color: #35424a;
    color: #ffffff;
}

.maplefttSide{
    padding-left: 30px;

}


#map{
    width: 640px;
    height: 400px;
    
}

/*bottom section*/
.bottomSectionWrapper{
    margin-top: 30px;
   background-color: rgba(0, 0, 0, 0.945);
    padding: 20px;
    color: white;
    font: bold arial, sans-serif;
    border-bottom: #e8491d 3px solid;

}

.bottomSectionWrapper a{
    color: crimson;
    font-weight: bold;
   
    
}


